li {
    text-decoration: line-through;
    text-decoration-color: red;
    color: blue;
    background-color: skyblue;
}

.sabah {
    text-decoration: none;
    color: orangered;
    background-color: antiquewhite;
    font-size: 20px;
}

body {
    background-color: darkblue;
}
